.sidebar{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    background-color: #181c2e;
    position: fixed;
    overflow: auto;
}

.sidebar div{
    background: url('../../assets/cover.png');
    background-color: #181C2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.sidebar div img{
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    border-radius: 50%;
    filter: drop-shadow(2px 3px 6px #121212); /*SHADOW BEHIND THE IMAGE*/
    -webkit-filter: drop-shadow(2px 3px 6px #121212);
    object-fit: cover;
}

.sidebar div{ 
    padding-top: 30px;
}

.sidebar a{
    display: block;
    color: rgba(255,255,255,0.7);
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out .4s;
}

.sidebar a svg{
    margin-right: .5em;
}

.sidebar a:hover{
    background-color: #121212;
    color: white;
}

/*SETTINGS FOR THE TITLE COMPONENT*/
.content{
    margin-left: 200px;
    padding: 1em 1.6em;
}

/* USING @media TO TURN THE PAGE RESPONSIVE */
@media screen and (max-width: 700px){
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a{
        float: left; 
    }

    .sidebar div{ 
       display: none; 
    }

    .sidebar a svg{
        display: none;
    }

    .content{
        margin-left: 0;
    }
}

@media screen and (max-width: 400px){
    .sidebar a{
        text-align: center;
        float: none;
    }

    .sidebar a svg{
        display: none;
    }
}