.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container img{
    padding-top: 90px;
    width: 350px;
    height: 350px;
}

.timer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: coral;
    margin-top: -180px;
}

.btn-area{
    display: flex;
    margin-top: 180px;
}

.btn{
    margin-inline: 10px;
    padding: 5px;
    background-color:brown;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    
    color: white;
    font-size: 20px;
}

.btn:hover{
    background-color: white;
    color: brown;
    transition: all 0.50s;
}