.container{
    display: felx;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    margin-bottom: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.10);
}

.label-avatar{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.label-avatar span{
    position: absolute;
    z-index: 99;
    opacity: 0.7;
    transition: all .5s;
}

.label-avatar span:hover{
    opacity: 1;
    transform: scale(1.4);
}

.label-avatar input{
    display: none;
}

.form-profile img{
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.form-profile label{
    margin-bottom: .5em;
    font-size: 1.3em;
}

.form-profile input, textarea, select{
    padding: .7em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    border: 0;
    border-radius: 5px;
    width: 600px;
    /* max-width: 600px; */
    background-color: #e9e7e7;
}

.form-profile input:disabled{
    cursor: not-allowed;
}

.form-profile button{
    width: 600px;
    /* max-width: 600px; */
    padding: .5em;
    border: 0;
    border-radius: 5px;
    font-size: 1.2em;
    color: #f8f8f8;
    background-color: #181c2e;
}

.logout-btn{
    padding: 8px 20px;
    border: 1px solid #121212;
    border-radius: 5px;
    background-color: transparent;

    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 880px){
    .form-profile button{
        width: 400px;
    }   

    .form-profile input, textarea, select{
        width: 400px;
    }
}